@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <NavLink class="navbar-brand" href="/">Blazor Code</NavLink>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/Secure">Secure</NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/CallApiAsClient">Call API (as Client)</NavLink>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="/CallApiAsUser">Call API (as User)</NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Logout">Logout</NavLink>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>

@code 
{
    private ClaimsPrincipal User { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
        
        await base.OnInitializedAsync();
    }
}
